body{
    background-image: url(./picuters/bk.jpg);
    background-size: cover;
}

.hr {
    background-color: thistle;
    margin-top: 0px;
    height: 4px;
    /* margin: 1.5rem 0; */
}



.title {
        color: thistle;
        font-weight: bold;
    }

footer{

    color: hotpink;
    background-color:thistle;
    margin-top: 15%;
    height: 66px;
    font-size: larger;
    text-align: center;
}
.footertitle{
    color:#00d1b2;
}
.footer-aligh {
    margin-top: 50px;
}

.form{
    
    height: 100px;   
    width: 150px;
    margin: 15px;
} 
.select {
    margin-bottom: 15px;
}

.img-box {
    margin-left: 25%;
}


.img{
    border-radius: 20px;
    border:thistle 3px solid;
    width: 500px;
    height: 300px;


}

.fact {
    border-radius: 20px;
    border:thistle 3px solid;
    background-color: #00d1b2;;
    height: 100px;
    width: 1000px;
}

.h2{
    size: 50px;
}
