
.left-align {
    width: 45%;
    float: left;
}
.right-align {
    width: 45%;
    margin: 0 auto;
    float: right;
}
.cats-container {
    position: absolute;
    font-size: 18px;
    bottom: 8px;
    right: 100px; }