body{
    background-image: url(./picuters/360_F_298201821_e90YxH0f6FBwOvcKhynlwF8sNYxlCMsg.jpg);
    background-size: contain;
}
.hr {
    background-color: thistle;
    margin-top: 0px;
    height: 4px;
    /* margin: 1.5rem 0; */
}

.title {
        color: thistle;
        font-weight: bold;
    }

footer{

    color: hotpink;
    background-color:thistle;
    margin-top: 15%;
    height: 50px;
    font-size: larger;
    text-align: center;
}
.footertitle{
    color: mediumseagreen;
}

.form{
    
    height: 100px;   
    width: 150px;
    margin: 15px;
} 
.select {
    margin-bottom: 15px;
}
.btn{
    background-color: #4CAF50;
}
.img-box {
    margin-left: 25%;
}
.img{
    border-radius: 20px;
    border:thistle 3px solid;
    width: 500px;
    height: 300px;


}
.fact {
    border-radius: 20px;
    border:thistle 3px solid;
    height: 100px;
    width: 1000px;
}
