
.flex-item2 {
    width: 30%;
    height: 200px;
    background-image: url(/picuters/Yellow_Cat_Eye_Superb_Picture.jpg);
    border-radius: 14px;
    border: 4px solid rgb(108 142 131);
    background-color: #2778bb;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    float: right;
}

.font {
    color: #457df5;
    font-size: x-large;
    font-weight: bold;
}

.left-align {
    width: 45%;
    float: left;
}
.right-align {
    width: 45%;
    margin: 0 auto;
    float: right;
}
.container {
    position: absolute;
    font-size: 18px;
    bottom: 8px;
    right: 100px;}